body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid blue;
    height: 50em;
}

div {
    background:yellow;
    border:2px solid black;
    height: 200px;
    width: 200px;
}